*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   line-height: 1.5;
}

header,
footer,
main {
   padding: 20px 40px;
   margin: 20px 0;
   border: solid 1px rgb(187, 179, 179);
   border-radius: 10px;
   box-shadow: 2px 5px rgb(187, 179, 179);
}

ul {
   list-style: none;
   text-align: left;
}

li {
   padding-left: 10px;
}

summary {
   margin-top: 20px;
   font-weight: 600;
}

h1,
h2,
h3 {
   margin: 20px 0;
}

.wrapper {
   width: 80vw;
   margin: auto;
   position: relative;
}

.avatar {
   width: 180px;

   position: absolute;
   margin-left: 300px;
   margin-top: 30px;
   border: 1px solid rgb(161, 152, 152);
   border-radius: 10px;
   box-shadow: 5px 10px 10px rgb(187, 179, 179);
}

.logo_rsschool {
   position: absolute;
   z-index: 10;
   width: 70px;
   height: 70px;
}

footer {
   display: flex;
   justify-content: space-around;
}
